@import './base.css';
/* Any custom styles you add to the base, components, or utilities layers will only be included in your compiled CSS if those styles are actually used in your HTML. */
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
    justify-items: center;
    align-items: flex-start;
    /* margin-top: 10px; */
  }

  #app {
    display: grid;
    grid-template-columns: 500px 500px;
    /* padding: 0rem; */
  }
}

